.vacant__orange_border {
  border: 10px solid #ed6c71;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px 0px;
  padding: 22px;
  margin-top: 30px;
  background: #fff;
}
.vacant__text p {
  font-weight: 600;
}

.about_page {
  background: url("./../img/page_bg.svg") no-repeat bottom;
  background-size: 100%;
}
