.breadcrumbs {
  font-size: 14px;
  color: #7e8190;
  font-weight: 500;
  background-color: #dadded;
  padding: 40px 0;
  & .container > div {
    display: inline;
  }

  & a {
    // color: #7e8190;
    color: #27348B;

    font-weight: 400;

    &:hover {
      opacity: 0.8;
    }
  }

  & span.sep {
    margin: 0px 3px;
    color: #7e8190;

    font-weight: 200;
  }
}
