.modal {
  background-color: rgba(#000000, 0.2);
}
#addBasketModal {
  .modal-content {
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
  }
}

#addCommentModal {
  .form-group {
    margin-bottom: 20px;
  }
  .star-rating {
    font-size: 0;

    &__wrap {
      display: inline-block;
      font-size: 1rem;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    &__ico {
      float: right;
      padding-left: 2px;
      cursor: pointer;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("./../img/icons/star-gray.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-right: 6px;

      &:last-child {
        padding-left: 0;
      }
    }

    &__ico:hover:before,
    &__ico:hover ~ .star-rating__ico:before,
    &__input:checked ~ .star-rating__ico:before {
      content: "";
      float: right;
      display: inline-block;
      width: 16px;
      height: 16px;
      padding-left: 2px;
      background-image: url("./../img/icons/star-orange.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &__input {
      display: none;
    }
  }
}
