$xxl: 1399px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

// TEXT
$t-dark: #2b2a29;
$t-dark-gray: #303134;
$t-gray: #42455a;
$t-light-gray: #bdbdbd;
$t-white: #fff;

// MAIN COLOR
$orange: #ED6C71;
$blue: #27348B;
$blue-light: #6871AE;
